*{
    padding:0;
    margin: 0;
    
  }
  body{
      width: 100%;
      height: 800px;
  }
  .body{

  }
  
  .danmuShow{
      position: relative;
      margin-top: 20px;
      height: 400px;
      margin-left: 20px;
      margin-right: 20px;
      border: 1px #ccc solid;
      font-size: 30px;
      overflow: hidden;
  }
  
  .submit{
      margin-top: 20px;
  }
  
  #comments{
      font-size: 1.5em;
      width: 500px;
  }
  
  #submit{
      font-size: 1.5em;
      background: #f1c943;
  }
  #change{
      font-size: 1.5em;
      background: #ff5231;
  }